/* Esta etiqueta se utilizo para lograr el smooth scroll, el cual nos desplaza a la seccion que nosotros
seleccionemos desde el navbar */
html {
    scroll-behavior: smooth;
}

/* En esta etiqueta dejamos en 0 a forma de inicio los margenes, bordes, paddins y fuente
para todo el cuerpo de la pagina */
body {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

/* Con esta clase le dimos un tamaño a nuestro svc del navbar */
.tamaño-svc {
    width: 50px;
}

/* Con esta clase definimos el tipo de "peso" de nuestra fuente */
.text-white {
    font-weight: lighter;
}

/* NAVBAR */
/* Con esta clase definimos la posicion de nuestro navbar y de los elementos
dentro de el respecto al contenido de la pagina */
.navbar {
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
}

/* SECCION "QUIENES SOMOS" */
/* Con esta id definimos el color de fondo de la seccion */
#quienessomos {
    background-color: black;
}

/* Con esta clase definimos el color de fondo de los titulos */
.fondot {
    background-color: rgb(0, 195, 255);
    ;
}

/* SECCION DESTACADOS */
/* Con esta clase definimos el color de fondo de la seccion */
.destacadoscss {
    background-color: black;
}

/* Con esta clase definimos el color de nuestro texto en las cards */
.card {
    color: #ffffff;
}

/* Con esta clase definimos el margen de la imagen de una card */
.card-img-top2 {
    margin-bottom: -8%;
}

/* Con esta clase definimos el color de fondo del cuerpo de nuestra card */
.card-body {
    background-color: rgb(0, 195, 255);
}

/* SECCION FORMULARIO */
/* Con esta clase definimos el color de fondo de la seccion */
.fondo-form {
    background-color: black;
}



/* Con esta clase definimos el color de nuestra linea en las secciones */
.barrita {
    color: gray;
}